#bulletin_board_button {
	float: right;
    position: fixed;
    z-index: 105;
    right: -55px;
    top: 40%;
	font-size: 14px;
    -webkit-transform: rotate(270deg);  
    -moz-transform: rotate(270deg);   
    -ms-transform: rotate(270deg);   
    -o-transform: rotate(270deg);   
    transform: rotate(270deg);
}

#bulletin_board_button a {
  z-index: 150;
  padding: 10px;
  background: #c3c3c3;
}

#bulletin_board_button a:hover {
  text-decoration: none;
  color: #fff;
  background: #DA1F26;
}